{% extends 'base.html' %}

{% block main %}
<div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1523588994_243.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1523504442_455.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1521444982_469.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1522742329_629.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1525669927_166.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>
                    </div>
                </div>
                <div class="list-outer-group">
                    <ul class="list-tab">
                        <li class="active"><a href="#">最新资源</a></li>

                    </ul>
                    <ul class="list-inner-group">
                        {% for resource in resources %}
                             <li>
                            <div class="thumbnail-group">
                                <a href="{% url 'res_detail' id=resource.id %}">
                                    <img src="{{ resource.img }}" alt="">
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title">
                                    <a href="{% url 'res_detail' id=resource.id %}">{{ resource.name|truncatechars:20 }}</a>
                                </p>
                                <p class="desc">
                                    {{ resource.desc |truncatechars:50 }}
                                </p>
                                <p class="more">
                                   <span class="category">
                                       {% if resource.type == 1 %}
                                           <a href="{% url 'resource' %}?type=1">文档</a>
                                           {% elif resource.type == 2 %}
                                           <a href="{% url 'resource' %}?type=2">音视频</a>
                                           {% elif resource.type == 3 %}
                                           <a href="{% url 'resource' %}?type=3">二手物品</a>
                                       {% endif %}
                                   </span>
                                    <span class="pub-time">{{ resource.pub_time | date:"Y/m/d G:i:s" }}</span>
                                    <span class="author">{{ resource.owner.username }}</span>
                                </p>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                    <div class="load-more-group">
                        <button class="load-more">查看更多</button>
                    </div>
                </div>
            </div>
            {% include 'sidebar.html' %}
        </div>
    </div>
    <script>
    $('.load-more').click(function () {
        window.location.href = '/resource/'
    })
    </script>
{% endblock %}