{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/course/course_detail.css' %}">
        <script>
    $(function () {
        $('.nav li').first().removeClass('active')
});
    </script>
{% endblock %}

{% block main %}
<div class="main">
    <div class="course-nav">
            <div class="nav-container">

                <ul class="nav-list">
                    <li class="active"><a href="#">全部</a></li>
                    <li><a href="#">文档</a></li>
                    <li><a href="#">音视频</a></li>
                    <li><a href="#">二手物品</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">

            <div class="bottom-wrapper">
                <div class="course-detail-wrapper">
                    <div class="item-group">
                        <p class="item-title">资源详情</p>
                        <div class="teacher-group">
                            <div class="avatar-group">
                                {% if resource.owner.avatar %}
                                  <img src="/static/images/{{ resource.owner.avatar }}" alt="" class="avatar">
                                    {% else %}
                                   <img src="/static/images/avatar.jpg" alt="" class="avatar">
                                {% endif %}
                            </div>
                            <div class="teacher-info">
                                <p class="teacher-name">{{resource.owner.username}}</p>
                                <p class="teacher-desc">{{ resource.owner.signature |default_if_none:"暂无简介" }}</p>

                            </div>
                                {% if resource.owner != user %}
                                       <button data-id="{{ resource.id }}" style="float: right" id="trade-btn" class="layui-btn layui-btn-{% if resource.receive_record.status == 1 or resource.send_record.status == 1 %}disabled{% else %}normal{% endif %}" >申请交易</button>
                                {% endif %}
                        </div>

                        <p style="font-size: 20px;margin-left: 20px;margin-top: 10px;text-align: center"> {{ resource.name }}</p>
                        <img style="margin-top: 20px;margin-left: 70px;width: 520px;height: 500px" src="{{ resource.img }}" alt="">
                        <p class="item-content">
                                {{ resource.desc }}
                        </p>
                    <span style="float: right;margin-right: 10px">发布于&nbsp;&nbsp;{{ resource.pub_time | date:"Y/m/d G:i:s"  }}</span>
                    </div>
                </div>
                {% include 'sidebar.html' %}
            </div>
        </div>
    </div>

    <script>

        $(function () {
    layui.use(['layer'], function () {
        var $ = layui.jquery
            , layer = layui.layer;
        {% if resource.receive_record.status != 1 and resource.send_record.status != 1 %}
            $('#trade-btn').click(function () {
            var data_id = $(this).attr('data-id');
            layer.open({
                type: 2,
                title: '申请交易',
                shadeClose: true,
                shade: 0.4,
                area: ['300px', '250px'],
                content: ['/trading/?id='+data_id, 'no'], //iframe的url
            });
        });
        {% endif %}

    });
});
    </script>
{% endblock %}
