{% extends 'base.html' %}
{% load myfilter %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/course/course_index.css' %}">
    <script>
    $(function () {
        $('.nav li').first().removeClass('active');

});
    </script>
{% endblock %}
{% block main %}
 <div class="main">
        <div class="course-nav">
            <div class="nav-container">

                <ul class="nav-list">
                    <li {% if type == '' %}class="active"{% endif %}><a href="{% url 'resource' %}">全部</a></li>
                    <li {% if type == '1' %}class="active"{% endif %}><a href="{% url 'resource' %}?type=1">文档</a></li>
                    <li {% if type == '2' %}class="active"{% endif %}><a href="{% url 'resource' %}?type=2">音视频</a></li>
                    <li {% if type == '3' %}class="active"{% endif %}><a href="{% url 'resource' %}?type=3">二手物品</a></li>
                    <li {% if type == 'free' %}class="active"{% endif %}><a href="{% url 'resource' %}?type=free">免费</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <ul class="course-list">
                {% for res in resources %}
                 <li>
                    <a href="{% url 'res_detail' id=res.id %}">
                        <div class="thumbnail-group">
                            <img src="{{ res.img }}" alt="" class="thumbnial">
                        </div>
                        <div class="course-info">
                            <p class="title">{{ res.name }}</p>
                        <div style="overflow: hidden">
                            <p style="float: left" class="author">{{ res.owner.username }}</p>
                            <p style="float: right" class="author">
                                {% if res.type == 1 %}文档{% elif res.type == 2 %}音视频{% elif res.type == 3%}二手物品{% endif %}
                            </p>
                        </div>

                            <p class="price-group">
                                <span class="pay">
                                    {% if res.is_free %}
                                    免费
                                    {% endif %}
                                </span>
                            </p>
                        </div>
                    </a>
                </li>
                {% endfor %}
                {% for _ in sum|get_range %}
                  <li></li>
                {% endfor %}


            </ul>
        </div>
    </div>
{% endblock %}