<link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
<script src="{% static 'layui/layui.js' %}"></script>

<ul style="list-style: none;margin-left: 10px;font-size: 16px">
    <li style="margin-top: 10px">交易对象:{{ resource.name |truncatechars:20 }}</li>
    <li style="margin-top: 10px">资源分类:{% if resource.type == 1 %}文档{% elif resource.type == 2 %}音视频{% elif resource.type == 3 %}二手物品{% endif %}</li>
    <li style="margin-top: 10px">资源拥有者:{{ resource.owner.username }}</li>

    <li style="margin-top: 10px">选择交易资源:
        <select  style="width:100px" name="res">
        <option value="">请选择</option>
        {% for name in user_resources_name %}
        <option value="{{ name }}" >{{ name |truncatechars:10}}</option>
        {% endfor %}
      </select>
    </li>
<div style="text-align: center;">
        <button  style="margin-top: 20px;" id="trade-btn" class="layui-btn layui-btn-normal">申请交易</button>
</div>
</ul>


<script>
    layui.use(['layer'], function() {
            var $ = layui.jquery
            , layer = layui.layer;

           $('#trade-btn').click(function () {
                var res = $("select[name='res']").val();
                if(res === ''){
                    layer.msg('请选择可用资源')
                }

           $.ajax({
               url:'/trading/',
               type:'POST',
               data:{
                   'id':{{ resource.id }},
                   'res':res
               },
               success:function (data) {
                   if(data['code'] === 200){
                       layer.msg('交易申请成功',{icon:1,time:1000},function() {
                           window.parent.location = '/resource/detail/{{ resource.id }}'
                       })
                   }
               }
           })
        });
    });
</script>